
html {
    background-color: darkblue;
    color: white;
}

header h1 {
    width: 960px;
    height: 100px;
    
    margin: 0px auto;
    border-bottom: 20px groove grey;
    
    margin-bottom: 35px;
    margin-top: 20px;
   
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    
}

main p {
    width: 960px;
    height: 100px;
    margin: 0px auto;
    height: 100px;
    

}

main ul {
    width: 960px;
    height: 100px;
    margin: 0px auto;
    height: 100px;
}

ul li img {
    width: 150px;
    height: 150px;
    margin: 50px;
    float: left;
    padding: 15px;
    
    border: 5px groove blanchedalmond;
}


body footer {
    bottom: 0;
    background: #0C516A;
    margin-top: 400px;
    text-align: center;
    
  }
   

  /* * {
    color: blue;
    font-family: 'Helvetica';
    outline: 1px dashed green;
  }
  
  img {
    width: 150px;
    margin: 50px;
    float: left;
    padding: 15px;
  } */